<div class="header">
  <h1>Bonfire <i class="fa fa-fire"></i></h1>
  <% date = DateTime.now %>
  <p>Bonfire is an RSS app for the e-ink kindle.</p>
  <p class="last">Non-touch users: scroll with the page-turn buttons.</p>
</div>
