<div class="header">
  <h1>Bonfire <i class="fa fa-fire"></i></h1>
  <% date = DateTime.now %>
  <p>Bonfire is an RSS feed aggregator built for the e-ink kindle.</p>
  <p class="last">Scroll with the page-turn buttons if you do not have a touch screen.</p>
</div>
